@import '../Header/Header.scss';

.board {
    width: 560px;
    height: 620px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: black;
}

.mpboard {
    width: 560px;
    height: 620px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: black;
}

.wall {
    height: 20px;
    width: 20px;
    background: linear-gradient(315deg, transparent 75%, rgb(22, 116, 198) 0)-10px 0,
    linear-gradient(45deg, transparent 75%, rgb(80, 142, 162) 0)-10px 0,
    linear-gradient(135deg, rgb(34, 34, 191) 50%, transparent 0) 0 0,
    linear-gradient(45deg, rgb(5, 5, 87) 50%, rgb(4, 4, 63) 0) 0 0 rgb(5, 5, 60);
    // background: blue;
    background-size: 20px 20px;
    position: relative;
    // z-index: 3;
}

.wall-bottom {
    height: 20px;
    width: 20px;
    // background: rgb(19, 48, 245);
    border-bottom: 2px red solid;
}

.wall-left {
    height: 20px;
    width: 20px;
    // background: rgb(19, 48, 245);
    border-left: 2px red solid;   
}

.row {
    width: 100%;
    height: 20px;
    display: flex;
}
.path {
    height: 20px;
    width: 20px;
}
.pellet {
    background: rgb(241, 187, 178);
    height: 20px;
    width: 20px;
    transform: scale(.2);
    border-radius: 50%;
}
.power-pellet {
    background: rgb(241, 187, 178);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: scale(.80);
}
.ghost-door {
    background: linear-gradient(315deg, transparent 75%, #d45d55 0)-10px 0,
    linear-gradient(45deg, transparent 75%, #d45d55 0)-10px 0,
    linear-gradient(135deg, #a7332b 50%, transparent 0) 0 0,
    linear-gradient(45deg, #6a201b 50%, #561a16 0) 0 0 #561a16;
    // background: pink;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}