@font-face {
    font-family: 'Waka2';
    src: url('../../fonts/PAC-FONT.TTF');
}
@font-face {
    font-family: 'WakaNumbers';
    src: url('../../fonts/crackman.ttf')
}
.landing-test {
    font-family: Waka2;
}
.number {
    font-family: WakaNumbers;
}