@import '../../../../App.scss';

.loginParent {
    width: auto;
    margin-top: 3%;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: $pixelFont;
    position: absolute;
    height: 84%;
    z-index: 4;
    background: rgba(0, 0, 0, .85);
}
.highscores {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid white 1px;
    font-size: 12px;
    // background: coral;
    .rank-score-username {
        display: flex;
        flex-direction: row;
        justify-content: center;
        p {
            margin: 0 3%;
            color: $clyde;
        }
    }
    .rank-highscore-username {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 8%;
        p {
            margin: 8% 25%;
        }
    }
}
.login-page {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid white 1px;
    font-size: 12px;
    text-align: center;
    .login-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $clyde;
        margin-bottom: 2%;
        input {
            border: none;
            width: 47px;
            margin: 0 2%;
            background: black;
            border-bottom: 3px dashed white;
            color: white;
            font-size: 12px;
            letter-spacing: 6px;
            font-family: $pixelFont;
            color: $clyde;
        }
    }
    .password-input {
        margin: 2% 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $blinky;
        input {
            border: none;
            background: black;
            border-bottom: 1px solid white;
            color: white;
        }
        
    }
    .password-input-2 {
        margin: 2% ;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $pinky;
        text-align: center;

        input {
            border: none;
            background: black;
            border-bottom: 1px solid white;
            color: white;
            width: 45%;
        }
    }
    .login-register-buttons {
        display: flex;
        flex-direction: row;
        button {
            margin: 2% 3%;
            font-family: $pixelFont;
            color: $inky;
            background: black;
            border: none;
            cursor: pointer;
        }
    }
    .update-button {
        margin: 2% 3%;
        font-family: $pixelFont;
        color: $inky;
        background: black;
        border: none;
        cursor: pointer;
    }
}
.play-again-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: auto;
    width: auto;
    button {
        margin: -75px 0;
        transform: scale(.25);
    }
    span {
        color: $clyde;
        font-family: $pixelFont;
    }
}

// .blinkWhite {
//     -webkit-animation: 1s linear condemned_blink_effect;
//     animation: 1s linear condemned_blink_effect;
//     animation-iteration-count: 3;
//   }
//   @-webkit-keyframes condemned_blink_effect {
//     0% {
//       visibility: hidden;
//       background: white;
//     }
//     50% {
//       visibility: hidden;
//     }
//     100% {
//       visibility: visible;
//       background: white;
//     }
//   }
//   @keyframes condemned_blink_effect {
//     0% {
//       visibility: hidden;
//       background: white;
//     }
//     50% {
//       visibility: hidden;
//     }
//     100% {
//       visibility: visible;
//       background: white;
//     }
//   }