@import '../../../../App.scss';

.loginParent {
    width: auto;
    margin-top: 3%;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: $pixelFont;
    position: absolute;
    height: 84%;
    z-index: 4;
    background: rgba(0, 0, 0, .85);
}
.highscores {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid white 1px;
    font-size: 12px;
    // background: coral;
    .rank-score-username {
        display: flex;
        flex-direction: row;
        justify-content: center;
        p {
            margin: 0 3%;
            color: $clyde;
        }
    }
}
.login-page {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid white 1px;
    font-size: 12px;
    text-align: center;
    .login-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $clyde;
        margin-bottom: 2%;
    }
    .password-input {
        margin: 2% 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $blinky;
    }
    .password-input-2 {
        margin: 2% 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $pinky;
    }
}
